<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @*<div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home",new { @class= "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Employee Section", "Employee", "Employee")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Employee <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Employee Add(Razor)", "Employee", "Employee")</li>
                            <li>@Html.ActionLink("Employee List(Razor)", "EmployeeList", "Employee")</li>
                            <li><a href="#">Another action</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>*@

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsupportedcontent" aria-controls="navbarsupportedcontent" aria-expanded="false" aria-label="toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsupportedcontent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("about", "about", "home", new { @class = "nav-link " })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("contact", "contact", "home", new { @class = "nav-link " })
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbardropdown">

                            <li>@Html.ActionLink("employee add(razor)", "employee", "employee", new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("employee list(razor)", "employeelist", "employee", new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="search" aria-label="search">
                    <button class="btn btn-outline-success" type="submit">search</button>
                </form>
            </div>
        </div>


        <div class="container body-content">
            @RenderBody()
            <hr />
            @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
        </div>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        <script src="~/Scripts/jquery-3.6.0.js"></script>
        <script src="~/Scripts/jquery-3.6.0.min.js"></script>
        @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
        <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        @RenderSection("scripts", required: false)
</body>
</html>
